	/* STRONA.PHP */
body.bodystrona {
 background: #21303b;
 color: #fff;
}
.h2strona {
 font-size: 50px;
 line-height: 80px;
 font-family: Helvetica, sans-serif;
 font-weight: bold;
 text-align: center;
} 
.precord {
  font-size: 20px;
  line-height: 13px;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: -2px;
  margin-left: 10px;
} 
.h3strona {
 font-size: 30px;
 margin-top: -2px;
 line-height: 15px;
 font-family: Helvetica;
 font-weight: bold;
 text-align: left;
 margin-left: 20px;
} 
#okno1 {
 outline: 1px dashed #98abb9;
 outline-offset: -5px;
 
 background-color: #556068;
 height: 340px;
 width: 660px;
 margin: 50px auto;
 
 -webkit-box-shadow: 2px 2px 2px #000;
 -moz-box-shadow: 2px 2px 2px #000;
 box-shadow: 2px 2px 2px #000;
}

  /* FORMULARZ.HTML */
.naglowek{
  text-align: center;
  font-size: 30px;
  font-family: helvetica;
  margin-top: -8px;
}
.formularz1{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}
.formularz1 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.formularz1 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.formularz1 ul li  .field-style{
	box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
}
.formularz1 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.formularz1 ul li .field-split{
  width: 48%;
  height: 50%;
}
.formularz1 ul li .field-full{
	width: 100%;
}
.formularz1 ul li input.align-left{
	float:left;
}
.formularz1 ul li input.align-right{
	float:right;

} 
.formularz1 ul li input[type="submit"] {
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
} 
.formularz1 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

  /* INDEX.PHP / PRACOWNICY.PHP / FUNKCJEAGR.PHP / DATA.PHP */
body {
  background-color: #cccccc
}
.zapytanie{
  font-family:helvetica;
  font-size:15px;  
  margin-bottom:8px;
  margin-top:4px;
}
div {
  font-family:helvetica; 
  font-size:25px; 
  margin-bottom:5px;
  margin-top:10px;
  margin-left:30px;
}
#czas {
  font-family: helvetica;
  background-color: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
  border: 2px solid #1a1a1a;
  padding: 10px 20px;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 10;
  font-size: 20px;
}
h1 {
  font-size:40px; 
  margin-bottom:18px; 
  margin-top:20px; 
  font-family:helvetica; 
  text-align:center;
}
.link{
  font-family:helvetica;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}
.link:hover {
    background-color: #4CAF50;
    color: white;
}
.nav1{
  font-family:helvetica;
  background-color: white;
  color: black;
  border: 2px solid #af4c4c;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  font-family:helvetica;
}
.nav1:hover {
    background-color: #af4c4c;
    color: white; 
}
.nav2{
  font-family:helvetica;
  background-color: white;
  color: black;
  border: 2px solid #4c6faf;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  font-family:helvetica;
}
.nav2:hover {
    background-color: #4c7faf;
    color: white; 
}
table {
  border: 1px solid #000000;
  font-size:20px; 
  margin-left:20px;
  margin-bottom:20px;
  font-family: arial;
  border-collapse: collapse;
  width: 20%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.table2 {
  border: 1px solid #000000;
  font-size:20px; 
  margin-bottom:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 15%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.table1 {
  border: 1px solid #000000;
  font-size:20px; 
  margin-bottom:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 36%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
td {
  padding: 10px; 
  padding-left: 25px;
}
tr {
  background-color: #ffff80;
  text-align:left;
}
tr:nth-child(even) {
  background-color: #ffffb3;
}

tr:hover {
  background-color: #ffffcc;
}
th {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left:20px;
  background-color: #ffff1a;
  color: black;
}
