body {
  background-color: #cccccc
}
h1 {
  font-size:40px; 
  margin-bottom:10px; 
  margin-top:20px; 
  font-family:helvetica; 
  text-align:center;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}
td {
  border: 1px solid #000000;
  padding: 8px;
}
tr{
  border: 1px solid #000000;
  background-color: #ffff80;
}
tr:nth-child(even){
  background-color: #ffffb3;
}

tr:hover {
  background-color: #cccccc;
  border: 1px solid #000000
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8c8c8c;
  color: black;
}
