body {
  background-color: #cccccc
}
.zapytanie{
  font-family:helvetica;
  font-size:15px;  
  margin-bottom:8px;
  margin-top:4px;
}
div {
  font-family:helvetica; 
  font-size:25px; 
  margin-bottom:2px;
  margin-top:12px;
  margin-left:30px;
}
h1 {
  font-size:40px; 
  margin-bottom:20px; 
  margin-top:20px; 
  font-family:helvetica; 
  text-align:center;
}
.link{
  font-family:helvetica;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
}
.link:hover {
    background-color: #4CAF50;
    color: white;
}
.nav {
}
.nav1{
  font-family:helvetica;
  background-color: white;
  color: black;
  border: 2px solid #af4c4c;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  font-family:helvetica;
}
.nav1:hover {
    background-color: #af4c4c;
    color: white; 
}
table {
  border: 1px solid #000000;
  font-size:20px; 
  margin-left:20px;
  margin-bottom:20px;
  font-family: arial;
  border-collapse: collapse;
  width: 20%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.table2 {
  border: 1px solid #000000;
  font-size:20px; 
  margin-bottom:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 15%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
.table1 {
  border: 1px solid #000000;
  font-size:20px; 
  margin-bottom:20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}
td {
  padding: 10px; 
  padding-left: 25px;
}
tr {
  background-color: #ffff80;
  text-align:left;
}
tr:nth-child(even) {
  background-color: #ffffb3;
}

tr:hover {
  background-color: #ffffcc;
}
th {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left:20px;
  background-color: #ffff1a;
  color: black;
}
